/*
	@package sunsettheme
*/

/*
    Import
    ------------------------------------------------
*/
@import 'base/variables'; //variables
@import 'base/mixins'; //mixins
@import 'base/fonticon'; //font icons
@import 'base/placeholders'; //placeholder

/* 
	Generic 
	------------------------------------------------
*/
body {
    font-family: $body-font;
}

a {
    color: $primary-color;
    @include animate(color, 320ms);

    &:hover,
    &:focus {
        text-decoration: none;
        color: $dark-grey;
    }
}

.background-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.table {
    display: table;
    width: 100%;
    height: 100%;

    .table-cell {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}

/* 
	Header 
	------------------------------------------------
*/
.header-container {
    @extend %text-shadow;
    position: relative;
    display: block;
    height: 326px;
}

.site-title {
    color: #fff;
    margin: 0;
    font-size: 80px;
}

.site-description {
    font-size: 14px;
    color: #fff;
    margin-top: 1em;
}

/*
    Navbar 
    -------------------------------
*/

.nav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-sunset {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    li {

        &.active {
            a {
                opacity: 1;

                &:after {
                    @include transform(translateY(0));
                    opacity: 1;
                }
            }
        }


        &.dropdown {

            a {
                opacity: 0.7;

                &:after {
                    content: '';
                    margin: 0 5px;
                    width: 0;
                    display: inline-block;
                    height: 0px;
                    opacity: 0;
                    background-color: transparent;
                    @include transform(translateY(0));
                    opacity: 1;

                }

                &:hover,
                &:focus,
                &:visited {
                    background-color: rgba(0, 0, 0, 0.1) !important;
                }
            }

        }


        a {
            text-transform: uppercase;
            color: #fff;
            font-size: 15px;
            opacity: 0.7;
            letter-spacing: 0.05em;
            @include animate(opacity, 320ms);

            &:hover,
            &:focus,
            &:visited {
                opacity: 1;
                text-decoration: none;

                &:after {
                    @include transform(translateY(0));
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                margin: 0px auto;
                width: 100%;
                display: block;
                height: 2px;
                background-color: #ffff;
                opacity: 0;
                @include animate(all, 320ms);
                @include transform(translateY(4px));
            }

        }

        ul.dropdown-menu {
            border: 0;
            padding: 0;
            border-radius: 0;
            background: rgba(0, 0, 0, 0.75);

            li {
                display: block;

                &:hover,
                &:focus,
                &:visited {
                    background: rgba(0, 0, 0, 0.25) !important;
                }

                a {
                    color: #fff;
                    padding: .5rem 1rem;
                }
            }
        }

    }
}

/*
    Post Standard Format
    -------------------------------
*/
article {
    margin: 40px 0px;

    &:first-child {
        padding-top: 40px;
    }
}

h1 {
    font-size: 40px;
    font-weight: 200;

    &.entry-title {
        line-height: 1.5em;
        margin: 0;
        padding: 0;

        &:before,
        &:after {
            content: '~';
            display: inline-block;
            position: relative;
        }

        &:before {
            margin-right: 10px;
        }

        &:after {
            margin-left: 10px;
        }
    }
}

.entry-meta {
    font-size: 15px;
    font-weight: 300;
    color: $light-grey;
    margin-bottom: 10px;

    a {
        font-weight: 500;
        color: $light-grey;

        &:hover,
        &:focus {
            color: $dark-grey;
        }
    }
}

.standard-featured-link {
    display: block;
    position: relative;

    &:hover,
    &:focus {
        .standard-featured {
            &:after {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
}

.standard-featured {
    height: 330px;
    position: relative;

    &:after {
        @include animate(background-color, 320ms);
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
    }
}

.entry-excerpt {
    margin: 30px 0 16px;

    p {
        font-size: 17px;
        line-height: 1.5em;
        font-weight: 300;
        letter-spacing: 0.02em;
        text-align: justify;
    }
}

.button-container {
    margin-bottom: 30px;
}

.btn-sunset {
    @include animate(background-color, 320ms);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: $light-grey;
    padding: 8px 12px;
    border-radius: 0;
    border: 1px solid $light-grey;
    background-color: transparent;

    &:hover,
    &:focus {
        color: #fff;
        border-color: $dark-grey;
        background-color: $dark-grey;
    }
}

.entry-footer {
    padding: 10px 5px;
    border-bottom: 2px solid $lighter-grey;
    color: $light-grey;
    text-transform: uppercase;

    a {
        color: $light-grey;
        display: inline-block;
        padding: 0 4px;
        font-size: 14px;

        &:hover,
        &:focus {
            color: $dark-grey;
        }
    }

    .tags-list {

        .sunset-icon {
            margin-right: 10px;
        }

        a {
            padding: 0 4px;
        }
    }
}

/*
    Post Image Format
    -------------------------------
*/

.sunset-format-image {

    .entry-header {
        position: relative;
        height: 600px;
        @extend %text-shadow;
    }

    h1,
    .entry-meta,
    .entry-header {
        color: #fff;

        a {
            color: #fff;
        }
    }

    h1 {
        padding-top: 20px;
    }
}

.entry-excerpt {
    &.image-caption {
        @extend %background-gradient;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;

        p {
            margin: 40px 30px;
            text-align: justify;
        }
    }
}

/*
    Post Audio Format
    -------------------------------
*/
.sunset-format-audio {
    .entry-content {
        iframe {
            width: 100%;
            height: 165px;
        }
    }

    h1 {
        font-size: 30px;

        &.entry-title {
            display: inline-block;
            margin-right: 20px;

            &:before,
            &:after {
                display: none;
            }

        }
    }

    .entry-meta {
        display: inline-block;
        margin-bottom: 0;
    }
}

/*
    Post Video Format
    -------------------------------
*/

.sunset-format-video {
    header {

        h1 {
            &.entry-title {
                margin-top: 20px;
            }
        }
    }
}

/*
    Post Gallery Format
    -------------------------------
*/
.sunset-format-gallery {
    header {
        h1 {
            &.entry-title {
                margin-top: 20px;
            }
        }
    }

    .standard-featured {
        height: 500px;

        &:after {
            background-color: transparent;
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        font-size: 30px;
        @extend %text-shadow;

        .preview-container {
            position: relative;
            display: block;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0);
            line-height: 0;
            @include animate(background-color, 320ms);

            .thumbnail-container {
                position: absolute;
                display: block;
                height: 62px;
                width: 62px;
                border-radius: 50%;
                background-color: transparent;
                top: 4px;
                @include animate(transform, 320ms);
                @include transform(scale(0));

                @include respond-to(laptop-screens) {
                    display: none;
                }
            }
        }

        &.right {
            .preview-container {
                width: -webkit-fill-available;
                padding-left: 60px;
                border-radius: 35.5px 0 0 35.5px;

                @include respond-to(tablet-screens) {
                    padding-left: 0;
                }

                .thumbnail-container {
                    left: 1px;
                }
            }
        }

        &.left {
            .preview-container {
                width: -webkit-fill-available;
                padding-right: 60px;
                border-radius: 0 35.5px 35.5px 0;

                @include respond-to(tablet-screens) {
                    padding-right: 0;
                }

                .thumbnail-container {
                    right: 1px;
                }
            }
        }

        &:hover {
            .preview-container {
                background-color: rgba(0, 0, 0, 0.8);

                @include respond-to(phone-screens) {
                    background-color: transparent;
                }

                .thumbnail-container {
                    @include transform(scale(1));
                }
            }
        }
    }

    .carousel-caption {
        @include animate(transform, 320ms);
        @include transform(translateY(100%));
    }

    &:hover {
        .carousel-caption {
            @include transform(translateY(0));
        }
    }

}

/*
    Post Quote Format
    -------------------------------
*/
.sunset-format-quote {
    .quote-content {
        font-size: 42;
        font-weight: 100;
        line-height: 1.3em;
        letter-spacing: 0.03em;

        p {

            &:before,
            &:after {
                content: '';
                display: inline-block;
                position: relative;
                color: #ccc;
            }

            &:before {
                content: '" ';
            }

            &:after {
                content: ' "';
            }
        }

    }

    .quote-author {
        font-size: 20px;
        color: #ccc;
        letter-spacing: 0.06em;
    }
}

/*
    Post Link Format
    -------------------------------
*/

.sunset-format-link {
    h1 {

        &.entry-title {
            display: inline-block;
            margin-right: 20px;

            &:before,
            &:after {
                display: none;
            }

            .link-icon {
                display: block;
                color: #fff;
                font-size: 30px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.6);
                margin: 0 auto;
                line-height: 1em;
                padding-top: 10px;
            }
        }
    }
}

/*
    Post Aside Format
    -------------------------------
*/
.sunset-format-aside {
    .aside-container {
        background-color: rgba(0, 0, 0, 0.075);
        padding-top: 20px;
    }

    .aside-featured {
        width: 136px;
        height: 136px;
        border-radius: 50%;
        margin: 0 auto 5px;
    }

    .entry-meta {
        margin-bottom: 5px;
    }

    .entry-excerpt {
        margin-top: 0;

        p {
            font-size: 15px;
            padding: 5px;
        }
    }

    .entry-footer {
        border-bottom: none;
        background-color: rgba(0, 0, 0, 0.05);
        padding-right: 10px;
    }
}

/*
    Footer Section
    -------------------------------
*/

.sunset-footer {
    background-color: #333;
    padding: 20px 0;
    margin-top: 40px;
    display: block;
    color: #fff;
}

/*
    Ajax Loading Section
    -------------------------------
*/
.btn-sunset-load {
    display: block;
    width: 200px;
    color: #222;
    font-size: 30px;
    margin: 0 auto;
    cursor: pointer;
    opacity: 0.5;
    @include animate(opacity, 320ms);

    &:hover,
    &:focus,
    &.loading {
        opacity: 1;
    }

    &.loading {
        cursor: default;
    }

    span {
        display: block;
    }
}

.spin {
    animation: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}