/*
	@package sunsettheme

    Variables
    ------------------------------------------------
*/
$icon-font:'sunset-icon';
$body-font:'Raleway',
'Helvetica Neue',
'Helvetica',
Arial,
Verdana,
sans-serif;

$dark-grey:#333333;
$light-grey:#898989;
$lighter-grey:#626262;
$primary-color:#000000;

$break-phone:320px;
$break-tablet:767px;
$break-laptop-xs:992px;